@model WebApplication1.BundleConfig

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h4>Calculator</h4>
        <hr />
        <dl class="dl-horizontal">
        </dl>
    </div>
    <p>
        <form action="Calculate/Total" method="post">
            x
            <input type="text" name="x" />
            <br />
            y
            <input type="text" name="y" />
            <br />
            <input type="radio" name="calc" value="Add" />
            Сложение
            <br />
            <input type="radio" name="calc" value="Min" />
            Вычитание
            <br />
            <input type="radio" name="calc" value="Mul" />
            Умножение
            <br />
            <input type="radio" name="calc" value="Div" />
            Деление
            <br />
            <input type="submit" name="Execute" value="Выполнить" />
            <br />
            
    </p>
</body>
</html>
